<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="stylesheets/room.css" rel="stylesheet">

		<!--OPTIONAL "Raleway" font -->
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script>
            // Get the room code
            var roomCode = window.location.href.slice(-5)
            var socket = io("", { query: "roomCode="+roomCode });
        </script>
        <title><%=title%></title>
    </head>

    <body>
    	<div class="row" id="header">
            <div id='form-wrapper'>
                <form id="link-submit-form">
                    <input type="text" placeholder="Enter a YouTube link (must end with 10-digit ID)" autocomplete="off" id="link-input-box">
                </form>
            </div>
    	</div>
        <div id="body-container">
            <div id="left-column">
                <div class="row" id="users-list-header">
                    0 users
                </div>
                <div class="row" id="users-column">
                    <div id="user-list"></div>
                </div>
            </div>
            <div id="main-area">
                <div class="row">
                    <!-- The <iframe> (and video player) will replace this <div> tag. -->
                    <div id="iframe-wrapper">
                        <div id="player"></div>
                    </div>

                    <script id="youtube-embed">
                    </script>
                    <script src='room/youtube-player.js'></script>
                </div>
                <div class="row" id="video-info">
                    <div class="col-1-1">
                        <div class="content" id="video-title">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-column">
                <div class="row" id="chat-header">
                    Live chat
                </div>
                <div class="row" id="chat-body">
                    <div id="messages"></div>
                </div>
                <div class="row" id="chat-submit-container">
                    <form id="chat-submit">
                        <input type="text" placeholder="Message" autocomplete="off" id="chat-input">
                    </form>
                </div>
            </div>
        </div>
        <div id="nameModal" class="modal">
            <div class="modal-content">
                <form id="name-submit">
                    <input type="text" placeholder="Enter your name to begin" autocomplete="off" id="name-input">
                </form>
            </div>
        </div>

        <script src='room/socket-events.js'></script>
    </body>
</html>