/*When we set a width, that element will stay that width despite borders/padding*/
*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---Other styles---*/
html, body{
  height: 100%;
}
body{
  /*Clear default margin here*/
  margin: 0;
  background-color: #EEEEEE;
  font-family: 'Raleway', sans-serif;
/*
background: linear-gradient(135deg, #172740, #334688) fixed;
*/
}

ul{
  list-style: none;
}
li{
  margin: 0 0 10px 0;
}

.row{
  background-color: #EEEEEE;
}


/* Pop-up name submit */

.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content{
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  border: 1px solid #888;
  width: 50%;
  height: 120px;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
}

#name-submit{
  height: 100%;
}

#name-input{
  height: 60px;
  width: 94%;
  padding: 15px 16px;
  font-size: 32px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
  transform: translate(-50%, -50%);
  position: absolute;
}




/* Header */

#header{
  border-color: #AAAAAA;
  border-width: 1px;
}

#form-wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 300px;
  margin-right: 350px;
}
#link-input-box{
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
  height: 45px;
}

/* Main content */

#body-container{
  height: calc(100% - 67px);
  display: flex;
}

/* Left-column */

#left-column{
  border-right: solid;
  border-color: #AAAAAA;
  height: 100%;
  border-width: 1px;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

#users-column{
  height: 35%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #AAAAAA;
  overflow-y: auto;
}
#users-list-header{
  font-size: 24px;
  background-color: #AAAAAA;
  font-weight: bolder;
  padding: 5px 0px 5px 12px;
}

#user-list{
  margin: 15px 12px;
}
.online-users{
  margin: 8px 0px;
}


/* youTube embed area*/

#main-area{
  width: 100%;
  height: 100%;
}

/* Make the iframe responsive */
#iframe-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
#iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-title{
  font-size: 22px;
  padding-left: 5px;
  padding-top: 5px;
}

/* Right-column */

#right-column{
  border-left: solid;
  border-color: #AAAAAA;
  height: 100%;
  width: 350px;
  border-width: 1px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 1620px){

  #form-wrapper{
    margin-left: 250px;
    margin-right: 275px;
  }

  #left-column{
    border-right: solid;
    border-color: #AAAAAA;
    height: 100%;
    border-width: 1px;
    width: 250px;
  }

  #right-column{
    width: 275px;
  }
}

@media( max-width: 1080px){
  #form-wrapper{
    margin-left: 0px;
    margin-right: 250px;
  }

  #left-column{
    width: 0px;
  }

  #right-column{
    width: 250px;
  }
}

@media( max-width: 800px){

  #body-container{
    display: flex;
    flex-direction: column;
  }
  #form-wrapper{
    margin-left: 0px;
    margin-right: 0px;
  }

  #left-column{
    width: 0px;
    height: 0px;
  }

  #right-column{
    width: 100%;
    height: 56.25%;
    border-right-style: solid;
    border-left-style: solid;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .modal-content{
    width: 85%;
    height: 85px;
  }

  #name-input{
    height: 57px;
    padding: 5px 10px;
    font-size: 20px;
  }
}

#chat-body{
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #D6D6D6;
  word-wrap: break-word;
}
#chat-submit-container{
  height: 40px;
}
#chat-submit{
  height: 100%;
}
#chat-input{
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-style: none;
}
#chat-header{
  background-color: #AAAAAA;
  width: 100%;
  padding: 5.5px 8px;
  font-size: 24px;
  font-weight: bolder;
}
.chat-message{
  padding: 4px 6px;
}
.chat-message.master{
  color: #009933;
}
.chat-message.leaver{
  font-style: italic;
}
.chat-message:nth-child(2n){
  /*background-color: #EAEAEA;*/
}
#messages{
  margin: 10px 0px 10px 2px;
}
